[run]
branch = True
source = forecastonishing

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if .debug:
    raise AssertionError
    raise NotImplementedError
    raise RuntimeError
    raise TypeError
    if __name__ == .__main__.:
